<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYVMCSvg8ZMVV_Rr9dmFknuKjPC84SNHc</string>
	<key>GCM_SENDER_ID</key>
	<string>388976352074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drm.Fleet-Manager</string>
	<key>PROJECT_ID</key>
	<string>fleet-manager-97e95</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-manager-97e95.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388976352074:ios:18af6ffd6cc935e10f7fb3</string>
</dict>
</plist>